body {
}
#userLabel{
    position:absolute;
    top:30px;
}
#passwordLabel{
    position:absolute;
    top:70px;
}
#userTextBox{
    position:absolute;
    top:28px;
    left:110px;
}
#passwordTextBox{
    position:absolute;
    top:68px;
    left:110px;
}
.buttons{
    width:150px;
    height:130px;
    background-color:chocolate;
    margin-top:120px;
    margin-left:40px;
    padding:10px;
}
#userRequired{
    position:absolute;
    top:30px;
    left: 300px;
}
#passwordRequired{
    position:absolute;
    top:70px;
    left: 300px;
}